@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  border: none;
  outline: none;
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}
body {
  background: white;
  width: 100%;
  min-height: 100vh;
  font-size: 1.125rem;
  --font-open-sans: Open-sans, sans-serif;
  font-family: var(--font-open-sans);
}

button {
  @apply cursor-pointer  rounded-[10rem];
}

h1,
h2,
button {
  @apply font-semibold font-poppins text-cyan-very-dark;
}


.service {
  @apply flex justify-between items-center py-[3.125rem] pr-[.625rem] pl-[4.063rem] mb-[2.5rem] rounded-[.625rem] normal:flex-col normal:py-8 normal:px-5 normal:text-center shadow-normal;
}
.service img {
  @apply max-w-full w-[32.5rem] py-[.938rem] pr-[5rem] pl-[3.75rem] almost-small:p-0;
}
.service div {
  @apply pl-[4.375rem] normal:px-12 normal:mt-4;
}
.service div h2 {
  @apply my-[.625rem] text-3xl;
}
.service div p {
  @apply w-[55%] md:w-[100%] text-blue-grayish;
}

.links {
  @apply no-underline text-white hover:underline;
}

.fa-brands {
  @apply p-4 border border-white border-solid rounded-full w-[1.125rem] text-center hover:bg-white hover:text-cyan-very-dark;
}
